@font-face
{
        font-family:"Letter Gothic Bold", Letter Gothic, sans-serif;
        src: url(../fonts/LetterGothicStd-Bold.otf)
}

html
{
	margin: 0px;
}

#header
{
  margin: 0px;
}
#services #fotot
{
    width:300px;
    height:300px;
}
#services p
{
   color: grey; 
}

body
{
    color: #666666;
	margin	: 0px;
	font-family:"Letter Gothic Bold", Letter Gothic, sans-serif;
    background-color: #CCCCCC;
}
#header a, a:hover
{
    color:#FFFFFF;
    background-color:#6ccda6;
}


#footer
{
    height: 13.9%;
    background-color: #848484;
    margin: 1.2%  0px 0px 0px;
    border-radius: 0px;
}
#footer p
{
    color: #DDDDDD;
	margin: 1.2% 0px 0px 0px;
}
#footer a
{
    background: url(../images/totop.png) 0 0 no-repeat;
    left: 50%;
    height: 5.7%;
    position: absolute;
    display: block;
}
#logo
{
    position: relative;
    display: inline;
    background-image: url("../images/logo.png");
    width:  250px;
    height: 60px;
    float: left;
    padding: 0px;
    margin:0px 0px 0px 20px;
}
#links
{
	margin:5% 0px 0px 10%;
}
#header img
{
	float:left;
        margin: 0px 0px 0px 5%;
	
}
.hr
{
    color: #646464;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    margin:20px 10px 20px 10px;
    width: 90%
}   
#advice
{
    background-color: #f67c78;
    display: inline-block;
}
#advice img
{
    display: inline-block;
    float: left;
	margin:5px 5px 5px 5px;
}
#advice p
{
    color:#FFFFFF;
    display: inline-block;
	margin:5% 0px 0px 0px;
}
#advice a
{
	margin:3% 0px 0px 0px;
    color:#FFFFFF;
    text-decoration: none;
    display: inline-block;
}
#emergency
{
    background-color:  #e6cb6c;
    display: inline-block;	
}
#emergency img
{
    display: inline-block;
    float: left;
	margin:5px 5px 5px 5px;
}
#emergency p
{
	margin:5% 0px 0px 0px;
    color:#FFFFFF;
    display: inline-block;
  
}
#emergency a
{
	margin:3% 0px 0px 0px;
    color:#FFFFFF;
    text-decoration: none;
    display: inline-block;
}
#promo
{
    display: inline-block;
}
#promo a
{
    text-decoration: none;
    color:#474747;
   
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 #rating_form label input
 {
    margin: 0px 5px 0px 5px;
 }
 #map
 {
        height: 350px;
        
 }
 label
 {
    float: left;
 }
  .form-group input
  {
      display: inline;
  
 }
 .form-group p
 {
     float:right;
 }